* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  html,
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    height: 400px;
    width: 700px;
    overflow: hidden;
    position: relative; 
  }
  .swiper {
        height: 100%;
        width: 100%;
    }
  
  .swiper-slide img {
    width: 100%;
    margin-top: 60px;
    height: 100%;
  }
  img{
    height: 100%;
  }
  .swiper .swiper-pagination-bullet-active {
    background: #fff;
  }
  
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    color: white;
    opacity: -1;
  }
  
  .swiper .swiper-button-prev:hover,
  .swiper .swiper-button-next:hover {
    background-color: rgba(255, 255, 255, 0.466);
    color: #c73e5c;
    opacity: 1;
    height: 60px;
    width: 60px;
  }  